@page "/admin/blogs/details/{id:int}"
@inherits DetailsBase

<TopShelf BackHref="/admin/blogs"></TopShelf>

@if (Blog == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <Card Title="@Title">
        <EditForm Model="@Blog" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label for="name" class="col-sm-3 required">Name: </label>
                <InputText id="name" class="form-control col-sm-8" @bind-Value="@Blog.Name" placeholder="Enter title"></InputText>
            </div>
            <div class="form-group row">
                <label for="Description" class="col-sm-3 required">Description: </label>
                <InputTextArea id="Description" class="form-control col-sm-8" @bind-Value="@Blog.Description" placeholder="Enter Description"></InputTextArea>
            </div>

            <BlazeButton Type="submit" CssClasses="btn btn-primary edit-btn mr-1" Active="IsProcessing">Submit</BlazeButton>
            <BlazeButton OnClick="Delete" CssClasses="btn btn-danger" Active="IsDeleteProcessing">Delete</BlazeButton>
        </EditForm>

        <div class="my-3">
            <PostList BlogId="@Blog.Id"></PostList>
        </div>
        <BlazeAnchor Href="@($"/admin/posts/create/{Blog.Id}")">Create Post</BlazeAnchor>
    </Card>
}
