@inherits BlogListBase

@if (Blogs == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Create Date</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Blogs)
            {
                <tr>
                    <td>@blog.Id</td>
                    <td>@blog.CreateDate.ToShortDateString()</td>
                    <td>@blog.Name</td>
                    <td>@blog.Description</td>
                    <td>
                        <a href="@($"/blogs/details/{blog.Id}")">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
            @if(Blogs.Count == 0)
            {
                <tr>
                    <td colspan="5">
                         No Blogs Found...
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (ShowMoreLink)
    {
        <a href="@($"/blogs")">
            More...
        </a>
    }
}