@inherits PostListBase

@if (Posts == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Create Date</th>
                <th>Title</th>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Posts)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.CreateDate.ToShortDateString()</td>
                    <td>@post.Title</td>
                    <td>@post.Author</td>
                    <td>
                        <a href="@($"/posts/details/{post.Id}")">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
            @if (Posts.Count == 0)
            {
                <tr>
                    <td colspan="4">
                        No Posts Found...
                    </td>
                </tr>
            }
        </tbody>
    </table>
}